{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Attendee add list</h1>

<form class="form-inline" action="{{ url_for('addnewattendancesearch') }}" method="POST" >
 
    {{ form.csrf_token }}
    {% include 'flash_messages.html' %}
    <div class="col-sm">
        <div class="form-group mx-sm-3 mb-2">
        <h6>{{ form.Search.label }}</h6>
          {{ form.Search(class="form-control",placeholder="Search ....") }}
        </div>
        
      
      <div class="row mb-3">
        <div class="col">
        <select name = "drop" class="btn btn-info dropdown-toggle" aria-label=".form-select-lg" required>
          <option value = "general" selected>Search By</option>
          <option class="dropdown-item" value ="Id" >ID Number</option>
          <option class="dropdown-item" value ="f_name" >First Name</option>
          <option class="dropdown-item" value ="l_name" >Last Name</option>
          <option class="dropdown-item" value ="m_name" >Middle Name</option>
          <option class="dropdown-item" value ="Male" >Male</option>
          <option class="dropdown-item" value ="Female" >Female</option>
          <option class="dropdown-item" value ="Age" >Age</option>
        </select>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="radio" value ="None" name="order" id="flexRadioDefault3" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            None
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value ="Ac" name="order" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Ascending
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value ="Dc" name="order" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Descending
          </label>
        </div>
      </div>
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Search</button>   
      </div>
    </div>
</form>
<hr>

<div class="container_view">

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="table-info">
          <th scope="col">ID#</th>
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Position</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Date Added / Updated</th>
          <th scope="col">TO DO</th>
        </tr>
      </thead>
      <tbody>
    
    {% for info in member %}
        {% if not(info.id in check) %}
        <tr>
          <th scope="row">{{ info.id }}</th>
          <td>{{ info.f_name }}</td>
          <td>{{ info.m_name }}</td>
          <td>{{ info.l_name }}</td>
          <td>{{ info.age }}</td>
          <td>{{ info.gender }}</td>
          <td>{{ info.position }}</td>
          <td>{{ info.dob }}</td>
          <td>{{ info.email }}</td>
          <td>{{ info.phonenum }}</td>
          <td>{{ info.date_added }}</td>
          <td>
            <table class="table-primary">
              <td> <a href="{{ url_for('updatemember',id=info.id) }}" class="btn btn-primary" role="button">Add to attendee list</a> </td>
            </table>
          </td>
        </tr>
      {% endif %}
    {% endfor %}  
    </tbody>
  </table>
</div>
{% endblock %}